body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container {
  margin-bottom: 100px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

html {
  background-image: url(./images/background.png);
}
button {
  border: none;
  background-color: inherit;
  width: 300px;
  height: 300px;
  transition: all 0.2s ;
}

.clicked {
  border: solid goldenrod;
  transform: scale(1.1);
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.score-container {
  display: flex;
  color: gold;
  font-size: 50px;
  gap: 200px;
}

.winner {
  font-weight: bolder;
  color: green;
  font-size: 100px;
}

.header {
  font-weight: bolder;
  color: darkorange;
  font-size: 70px;
}

.games-played {
  font-size: 30px;
  color: rgb(9, 224, 214);
  font-weight: bolder;
}

.credits {
  font-weight: bolder;
  color: white;
}

a {
  color: orange;
}

.gameover {
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

#reset {
  background-color: steelblue;
  color: orange;
  font-weight: bolder;
  font-size: 20px;
  max-width: 200px;
  max-height: 50px;
}
